  .enter-input{
    margin-top: 50px;
    width: 460px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;

  }
  .enter-btn{
    display: block;
    margin: auto;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
    background: teal;
    color: white;
    border: none;
    cursor: pointer;
  }
.color-pick{
  display: block;
  margin: 10px auto;
}
